/** Colors */
// Gradient
$gradient-turquoise: #50BD9C;
$gradient-olive-green: #D8E022;

// Publish Badge
$published-color: #50BD9C;
$unpublished-color: #E25169;

// Star
$star-green: #D8E022;

// Tones
$grey: #E1E1E1;
$dark-grey: #2A2E2F;
$black: #000000;
$white: #FFFFFF;

/** Fonts Details */
// Size
$heading-1-font-size: 26px;
$heading-2-font-size: 22px;
$heading-3-font-size: 15px;
$body-font-size: 12px;

// Family
$default-font: Roboto;

// Weight
$heading-font-weight: bold;
$body-font-weight: light;