@import '../../common/variables';

.header {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $gradient-turquoise;
    background: linear-gradient(90deg, $gradient-turquoise 0%, $gradient-olive-green 100%);
    flex-grow: 0;

    .logo-icon {
        width: 40px;
    }

    .profile-menu-container {
        display: flex;
        align-items: center;
    }
    
    .profile-icon {
        width: 20px
    }

    .menu-icon {
        width: 20px;
        margin-right: 20px;
    }
}