@import '../../common/variables';

.page-ribbon-container {
    background: $grey;
    padding: 10px 20% 15px 20%;

    .title-container {
        font-size: $heading-1-font-size;
        font-weight: $bold-font-weight;
        text-align: initial;
    }
}

// numbers obtained from in -> px conversion from ux-design document
@media only screen and (max-width: 1024px) {
    .page-ribbon-container {
        padding: 10px 5% 15px 5%;
    }
}

// numbers obtained from in -> px conversion from ux-design document
@media only screen and (max-width: 646px) {
    .page-ribbon-container {
        padding: 10px 5% 15px 5%;
    }
}